In [271]:
import pandas as pd
import numpy as np

In [272]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [273]:
train = train.drop(['PassengerId','Name','Ticket','Cabin','Embarked','Age'],axis =1)
test = test.drop(['PassengerId','Name','Ticket','Cabin','Embarked','Age'],axis =1)

In [274]:
train.isnull().sum()

Survived    0
Pclass      0
Sex         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [275]:
from sklearn.preprocessing import LabelEncoder
train.iloc[:,2] = LabelEncoder().fit_transform(train.iloc[:,2])
train

/tmp/ipykernel_28005/2325507799.py:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  train.iloc[:,2] = LabelEncoder().fit_transform(train.iloc[:,2])

     Survived  Pclass  Sex  SibSp  Parch     Fare
0           0       3    1      1      0   7.2500
1           1       1    0      1      0  71.2833
2           1       3    0      0      0   7.9250
3           1       1    0      1      0  53.1000
4           0       3    1      0      0   8.0500
..        ...     ...  ...    ...    ...      ...
886         0       2    1      0      0  13.0000
887         1       1    0      0      0  30.0000
888         0       3    0      1      2  23.4500
889         1       1    1      0      0  30.0000
890         0       3    1      0      0   7.7500

[891 rows x 6 columns]

In [276]:
test.iloc[:,1] = LabelEncoder().fit_transform(test.iloc[:,1])
test

/tmp/ipykernel_28005/3609960220.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  test.iloc[:,1] = LabelEncoder().fit_transform(test.iloc[:,1])

     Pclass  Sex  SibSp  Parch      Fare
0         3    1      0      0    7.8292
1         3    0      1      0    7.0000
2         2    1      0      0    9.6875
3         3    1      0      0    8.6625
4         3    0      1      1   12.2875
..      ...  ...    ...    ...       ...
413       3    1      0      0    8.0500
414       1    0      0      0  108.9000
415       3    1      0      0    7.2500
416       3    1      0      0    8.0500
417       3    1      1      1   22.3583

[418 rows x 5 columns]

In [277]:
train = train[['Sex','SibSp','Parch','Pclass','Fare','Survived']]
test = test[['Sex','SibSp','Parch','Pclass','Fare',]]

In [278]:
x_tr = train.iloc[:,0:5]
y_tr = train.iloc[:,5]
x_tr

     Sex  SibSp  Parch  Pclass     Fare
0      1      1      0       3   7.2500
1      0      1      0       1  71.2833
2      0      0      0       3   7.9250
3      0      1      0       1  53.1000
4      1      0      0       3   8.0500
..   ...    ...    ...     ...      ...
886    1      0      0       2  13.0000
887    0      0      0       1  30.0000
888    0      1      2       3  23.4500
889    1      0      0       1  30.0000
890    1      0      0       3   7.7500

[891 rows x 5 columns]

In [279]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_tr['Fare'] = sc.fit_transform(x_tr[['Fare']])
test['Fare'] = sc.fit_transform(test[['Fare']])

x_test = test

In [280]:
import tensorflow as tf
import keras
from keras.models import Sequential
from keras.layers import Dense
x_tr

     Sex  SibSp  Parch  Pclass      Fare
0      1      1      0       3 -0.502445
1      0      1      0       1  0.786845
2      0      0      0       3 -0.488854
3      0      1      0       1  0.420730
4      1      0      0       3 -0.486337
..   ...    ...    ...     ...       ...
886    1      0      0       2 -0.386671
887    0      0      0       1 -0.044381
888    0      1      2       3 -0.176263
889    1      0      0       1 -0.044381
890    1      0      0       3 -0.492378

[891 rows x 5 columns]

In [281]:
classifier = Sequential()


classifier.add(Dense(units=5, input_dim=5, kernel_initializer='uniform', activation='relu'))
classifier.add(Dense(units=3, kernel_initializer='uniform', activation='relu'))
classifier.add(Dense(units=1, kernel_initializer='uniform', activation='sigmoid'))

In [282]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [283]:
classifier.fit(x_tr, y_tr, batch_size = 16, epochs = 100)

Epoch 1/100

56/56 [==============================] - 1s 5ms/step - loss: 0.6913 - accuracy: 0.5903
Epoch 2/100
56/56 [==============================] - 0s 5ms/step - loss: 0.6815 - accuracy: 0.6162
Epoch 3/100
56/56 [==============================] - 0s 2ms/step - loss: 0.6583 - accuracy: 0.6162
Epoch 4/100
56/56 [==============================] - 0s 2ms/step - loss: 0.6320 - accuracy: 0.6162
Epoch 5/100
56/56 [==============================] - 0s 3ms/step - loss: 0.6158 - accuracy: 0.6162
Epoch 6/100
56/56 [==============================] - 0s 3ms/step - loss: 0.6037 - accuracy: 0.6162
Epoch 7/100
56/56 [==============================] - 0s 4ms/step - loss: 0.5933 - accuracy: 0.6162
Epoch 8/100
56/56 [==============================] - 0s 5ms/step - loss: 0.5837 - accuracy: 0.6162
Epoch 9/100
56/56 [==============================] - 0s 3ms/step - loss: 0.5738 - accuracy: 0.6801
Epoch 10/100
56/56 [==============================] - 0s 4ms/step - loss: 0.5644 - accuracy: 0.7104
Epoch 11/100
56/56 [==============================] - 0s 4ms/step - loss: 0.5556 - accuracy: 0.7262
Epoch 12/100
56/56 [==============================] - 0s 5ms/step - loss: 0.5486 - accuracy: 0.7340
Epoch 13/100
56/56 [==============================] - 0s 4ms/step - loss: 0.5427 - accuracy: 0.7385
Epoch 14/100
56/56 [==============================] - 0s 4ms/step - loss: 0.5371 - accuracy: 0.7508
Epoch 15/100
56/56 [==============================] - 0s 4ms/step - loss: 0.5319 - accuracy: 0.7677
Epoch 16/100
56/56 [==============================] - 0s 3ms/step - loss: 0.5278 - accuracy: 0.7800
Epoch 17/100
56/56 [==============================] - 0s 4ms/step - loss: 0.5242 - accuracy: 0.7912
Epoch 18/100
56/56 [==============================] - 0s 4ms/step - loss: 0.5210 - accuracy: 0.7924
Epoch 19/100
56/56 [==============================] - 0s 5ms/step - loss: 0.5194 - accuracy: 0.7901
Epoch 20/100
56/56 [==============================] - 0s 5ms/step - loss: 0.5173 - accuracy: 0.7991
Epoch 21/100
56/56 [==============================] - 0s 4ms/step - loss: 0.5143 - accuracy: 0.7969
Epoch 22/100
56/56 [==============================] - 0s 3ms/step - loss: 0.5132 - accuracy: 0.7924
Epoch 23/100
56/56 [==============================] - 0s 3ms/step - loss: 0.5111 - accuracy: 0.7969
Epoch 24/100
56/56 [==============================] - 0s 6ms/step - loss: 0.5091 - accuracy: 0.7946
Epoch 25/100
56/56 [==============================] - 0s 6ms/step - loss: 0.5081 - accuracy: 0.7924
Epoch 26/100
56/56 [==============================] - 0s 8ms/step - loss: 0.5064 - accuracy: 0.7957
Epoch 27/100
56/56 [==============================] - 0s 7ms/step - loss: 0.5053 - accuracy: 0.7957
Epoch 28/100
56/56 [==============================] - 0s 6ms/step - loss: 0.5039 - accuracy: 0.7924
Epoch 29/100
56/56 [==============================] - 0s 5ms/step - loss: 0.5026 - accuracy: 0.7901
Epoch 30/100
56/56 [==============================] - 0s 7ms/step - loss: 0.5016 - accuracy: 0.7946
Epoch 31/100
56/56 [==============================] - 0s 6ms/step - loss: 0.5002 - accuracy: 0.7946
Epoch 32/100
56/56 [==============================] - 0s 8ms/step - loss: 0.5002 - accuracy: 0.7946
Epoch 33/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4995 - accuracy: 0.7912
Epoch 34/100
56/56 [==============================] - 0s 7ms/step - loss: 0.4975 - accuracy: 0.7935
Epoch 35/100
56/56 [==============================] - 0s 8ms/step - loss: 0.4968 - accuracy: 0.7912
Epoch 36/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4962 - accuracy: 0.7924
Epoch 37/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4951 - accuracy: 0.7912
Epoch 38/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4943 - accuracy: 0.7912
Epoch 39/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4937 - accuracy: 0.7924
Epoch 40/100
56/56 [==============================] - 0s 4ms/step - loss: 0.4932 - accuracy: 0.7912
Epoch 41/100
56/56 [==============================] - 0s 4ms/step - loss: 0.4925 - accuracy: 0.7924
Epoch 42/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4920 - accuracy: 0.7890
Epoch 43/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4918 - accuracy: 0.7924
Epoch 44/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4904 - accuracy: 0.7901
Epoch 45/100
56/56 [==============================] - 0s 4ms/step - loss: 0.4901 - accuracy: 0.7890
Epoch 46/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4897 - accuracy: 0.7901
Epoch 47/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4899 - accuracy: 0.7879
Epoch 48/100
56/56 [==============================] - 0s 8ms/step - loss: 0.4889 - accuracy: 0.7912
Epoch 49/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4883 - accuracy: 0.7879
Epoch 50/100
56/56 [==============================] - 0s 4ms/step - loss: 0.4880 - accuracy: 0.7890
Epoch 51/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4881 - accuracy: 0.7879
Epoch 52/100
56/56 [==============================] - 0s 4ms/step - loss: 0.4874 - accuracy: 0.7879
Epoch 53/100
56/56 [==============================] - 0s 4ms/step - loss: 0.4871 - accuracy: 0.7879
Epoch 54/100
56/56 [==============================] - 0s 4ms/step - loss: 0.4873 - accuracy: 0.7868
Epoch 55/100
56/56 [==============================] - 0s 7ms/step - loss: 0.4862 - accuracy: 0.7879
Epoch 56/100
56/56 [==============================] - 0s 7ms/step - loss: 0.4863 - accuracy: 0.7924
Epoch 57/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4864 - accuracy: 0.7879
Epoch 58/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4863 - accuracy: 0.7879
Epoch 59/100
56/56 [==============================] - 0s 7ms/step - loss: 0.4861 - accuracy: 0.7912
Epoch 60/100
56/56 [==============================] - 0s 7ms/step - loss: 0.4857 - accuracy: 0.7890
Epoch 61/100
56/56 [==============================] - 0s 7ms/step - loss: 0.4853 - accuracy: 0.7879
Epoch 62/100
56/56 [==============================] - 0s 7ms/step - loss: 0.4845 - accuracy: 0.7879
Epoch 63/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4843 - accuracy: 0.7879
Epoch 64/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4844 - accuracy: 0.7924
Epoch 65/100
56/56 [==============================] - 0s 7ms/step - loss: 0.4839 - accuracy: 0.7879
Epoch 66/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4838 - accuracy: 0.7901
Epoch 67/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4840 - accuracy: 0.7879
Epoch 68/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4834 - accuracy: 0.7912
Epoch 69/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4839 - accuracy: 0.7868
Epoch 70/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4828 - accuracy: 0.7879
Epoch 71/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4828 - accuracy: 0.7890
Epoch 72/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4826 - accuracy: 0.7890
Epoch 73/100
56/56 [==============================] - 0s 7ms/step - loss: 0.4830 - accuracy: 0.7901
Epoch 74/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4822 - accuracy: 0.7879
Epoch 75/100
56/56 [==============================] - 0s 4ms/step - loss: 0.4821 - accuracy: 0.7901
Epoch 76/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4823 - accuracy: 0.7890
Epoch 77/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4819 - accuracy: 0.7901
Epoch 78/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4822 - accuracy: 0.7912
Epoch 79/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4819 - accuracy: 0.7879
Epoch 80/100
56/56 [==============================] - 0s 7ms/step - loss: 0.4812 - accuracy: 0.7901
Epoch 81/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4810 - accuracy: 0.7890
Epoch 82/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4812 - accuracy: 0.7890
Epoch 83/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4807 - accuracy: 0.7901
Epoch 84/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4808 - accuracy: 0.7901
Epoch 85/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4807 - accuracy: 0.7912
Epoch 86/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4805 - accuracy: 0.7924
Epoch 87/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4810 - accuracy: 0.7890
Epoch 88/100
56/56 [==============================] - 0s 7ms/step - loss: 0.4807 - accuracy: 0.7901
Epoch 89/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4809 - accuracy: 0.7890
Epoch 90/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4800 - accuracy: 0.7890
Epoch 91/100
56/56 [==============================] - 0s 8ms/step - loss: 0.4800 - accuracy: 0.7901
Epoch 92/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4798 - accuracy: 0.7901
Epoch 93/100
56/56 [==============================] - 0s 4ms/step - loss: 0.4798 - accuracy: 0.7890
Epoch 94/100
56/56 [==============================] - 0s 3ms/step - loss: 0.4799 - accuracy: 0.7901
Epoch 95/100
56/56 [==============================] - 0s 3ms/step - loss: 0.4795 - accuracy: 0.7901
Epoch 96/100
56/56 [==============================] - 0s 3ms/step - loss: 0.4788 - accuracy: 0.7901
Epoch 97/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4790 - accuracy: 0.7868
Epoch 98/100
56/56 [==============================] - 0s 5ms/step - loss: 0.4800 - accuracy: 0.7890
Epoch 99/100
56/56 [==============================] - 0s 6ms/step - loss: 0.4789 - accuracy: 0.7901
Epoch 100/100
56/56 [==============================] - 0s 7ms/step - loss: 0.4784 - accuracy: 0.7924

In [284]:
prediction = classifier.predict(test).tolist()

14/14 [==============================] - 0s 5ms/step

In [285]:
y_test = pd.read_csv('gender_submission.csv')

In [286]:
y_test2 = pd.read_csv('gender_submission.csv')

In [287]:
y_test = y_test.iloc[:,1]
y_test

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [288]:
predicted_labels = [0 if val[0] <= 0.5 else 1 for val in prediction]

In [289]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

In [290]:
accuracy = accuracy_score(y_test, predicted_labels)
precision = precision_score(y_test, predicted_labels)
recall = recall_score(y_test, predicted_labels)
f1 = f1_score(y_test, predicted_labels)
confusion = confusion_matrix(y_test, predicted_labels)

# Print the metrics
print(f'Accuracy: {accuracy:.4f}')
print(f'Precision: {precision:.4f}')
print(f'Recall: {recall:.4f}')
print(f'F1 Score: {f1:.4f}')
print('Confusion Matrix:')
print(confusion)

Accuracy: 0.9522
Precision: 0.9074
Recall: 0.9671
F1 Score: 0.9363
Confusion Matrix:
[[251  15]
 [  5 147]]

In [291]:
y_test2

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [292]:
y_test2['Survived'] = predicted_labels

In [293]:
y_test2

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [294]:
y_test2.to_csv('output.csv', index=False)